*{
    margin: 0;
    box-sizing: border-box;
}

.nav_right{
    position: absolute;
    top: 0; right: 60px;
}

.nav_right ul li{
    float: left;
    list-style: none;
    padding: 10px 20px;
}

.logo{
    margin: 8px 20px;
}

.formulario{
    width: 800px;
    display: block;
}

.formulario input{
    width: 30%;
    
