*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
}

#container-body{
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:burlywood;
    padding: 0 70px;
    height: 60px; 
}

main{
    flex-grow: 1;
    display: flex;
    flex-direction: column;      
}

main>h2{
    flex-grow: 1;
    margin: 10px;
}

article{
    flex-grow: 3;
    align-self: center;
}

video{
    width: 800px;
    height: 400px;
}

footer{
    height: 70px;
    background-color: cornflowerblue;
    font-size: 2rem;
    color: aliceblue;
    padding: 10px;
}